
body {
	font-size: 175%;
}

#link-to-top {
	position:fixed; bottom:10px; right:10px;
	width:25px;
	height:25px;
	text-align:center;
	background:grey;
	color:white;
	opacity:0.5;
	border-radius:5px;
	text-decoration:none;
}


#LandingScreen {
	background:#5a00fe;
}

h1 {
	margin-left: auto; margin-right: auto;
}
div.StoryImage {
	position:relative;
	overflow: hidden;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
}
div.StoryImage button {
	overflow: hidden;
}
.NightSky {
	width:600px;
	height:400px;
}
.NightSky button {
	height:400px;
	border-radius:2px;
}

audio {margin:10px;}

img.StoryImage {
	max-width: 700px;
	max-height: 400px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#StoryScreen .Story {
	/*max-width: 800px; */
}

hr.h2 {
	margin-top: 30px; margin-bottom: 30px;
	border: solid 2px #333;	
}

.Sprite {
/*	display:none; */
	position:absolute;
}
